html,
body,
#root {
  height: 100%;
  width: 100%;
}



html[data-theme='dark'] {
  --button-text-color: #5C3D46;
  --button-background-color:#99BFAA;
  --button-border-color:#5C3D46;

  --input-text-color: #5C3D46;
  --input-placeholder-text-color: #5C3D46;
  --input-background-color: #E7F5DE;
  --input-border-color: #5C3D46;

  --background-color: #5c868D;
  --navbar-a-color:#E7F5DE;
  --navbar-background-color: #5C3D46;
  
  --dropdown-background-color:#99BFAA;
  --dropdown-text-color:#E7F5DE;
  --dropdown-item-background-color:#99BFAA;
  --navbar-brand-color:#E7F5DE;
  --form-color:#C8D6CA;
  --option-color:#5C3D46;
  --table-border-color:#5C3D46;
}

html[data-theme='light'] {
  --button-text-color: #5C3D46;
  --button-background-color: #99BFAA;
  --button-border-color: #5C3D46;

  --input-text-color: #5C3D46;
  --input-placeholder-text-color: #5C3D46;
  --input-background-color: #C8D6CA;
  --input-border-color: #5C3D46;;

  --background-color: #E7F5DE;
  --navbar-a-color:#5C3D46;
  --navbar-background-color: #C8D6CA;
  
  --dropdown-background-color:#99BFAA;
  --dropdown-text-color:#5C3D46;
  --dropdown-item-background-color:#99BFAA;
  --navbar-brand-color:#5C3D46;
  --form-color:#5C3D46;
  --option-color:#5C3D46;
  --table-border-color:#5C3D46;
  --color:#5C3D46;
}