html,
body,
#root {
  height: 100%;
  width: 100%;
}


html[data-theme='dark'] {
  --button-text-color: #ffffff;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;

  --input-text-color: #ffffff;
  --input-placeholder-text-color: #dddddd;
  --input-background-color: #7c7c7c;
  --input-border-color: #ba8fc2;

  --background-color: #292929;
}

html[data-theme='light'] {
  --button-text-color: #252525;
  --button-background-color: #d0d2ee;
  --button-border-color: #3d6bff;

  --input-text-color: #252525;
  --input-placeholder-text-color: #a7a7a7;
  --input-background-color: #d0d2ee;
  --input-border-color: #3d6bff;

  --background-color: #d9e4eb;
}